*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: Arial;
}

.nav{
   background-color: slateblue; 
}

.nav_container{
    width: 90%;
    margin: 0 auto;
    height: 70px;
    
    display: flex;
    align-items: center;
    gap: 1em;
    max-width: 1200px;
    color: #fff;
}

.nav_link:first-of-type{
    margin-left: auto;
}

.nav_link{
    color: #fff;
    text-decoration: none;
}

.dev{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.dev_img{
    width: 100%;
    display: block;
    max-width: 400px;
    margin: 0 auto;
}

.dev_text{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.dev_title{
    font-size: 2.5rem;
}

.dev_cta{
    background-color: slateblue;
    color: #fff;
    text-decoration: none;
    padding: 1em 3em;
    border-radius: 2em;

    align-self: center;
}


@media (min-width:760px){
    .dev{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .dev_picture{
        order: 1;
        width: 50%;
    }

    .dev_img{
        max-width: none;
    }

    .dev_text{
        max-width: 45%;
        text-align: left;
    }

    .dev_cta{
        align-self: flex-start;
    }
}